---
import Layout from '../layouts/Layout.astro'
import CircularMenu from '../components/CircularMenu'

const googleAnalyticsId = import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID
---

<Layout title="Reed Turgeon">
  <!-- Google Analytics Script -->
  <script type="text/partytown" async src={`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsId}`}></script>
  <script type="text/partytown" define:vars={{ googleAnalyticsId }}>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', analyticsId);
  </script>

  <main class="flex-1 flex flex-col items-center justify-center p-8 gap-10">
    <div class="flex flex-col justify-center items-center gap-2">
      <div> 
        <span>I have a lot of projects.</span>
        <span class="italic">I need a place to put them.</span>
      </div>

      <a 
        href="https://llm.reedturgeon.com" 
        target="_blank" 
        class="text-sm text-[#4a90e2] no-underline hover:underline"
        data-link="Learn Like Me"
      >
        Learn Like Me
      </a>

      <span>~</span>
      
      <a 
        href="https://github.com/MrT3313" 
        target="_blank" 
        class="text-sm text-[#4a90e2] no-underline hover:underline"
        data-link="GitHub"
      >
        GitHub
      </a>
      <a 
        href="https://www.linkedin.com/in/reedturgeon/"
        target="_blank" 
        class="text-sm text-[#4a90e2] no-underline hover:underline"
        data-link="LinkedIn"
      >
        LinkedIn
      </a>
    </div>
  </main>
  <CircularMenu client:load />
</Layout>

<script>
  document.querySelectorAll('a[data-link]').forEach(link => {
    link.addEventListener('mouseenter', (e) => {
      const target = e.target as HTMLAnchorElement;
      const linkName = target.dataset.link || '';
      window.dispatchEvent(new CustomEvent('linkHover', { 
        detail: linkName 
      }));
    });
    
    link.addEventListener('mouseleave', () => {
      window.dispatchEvent(new CustomEvent('linkHover', { 
        detail: '' 
      }));
    });
  });
</script>
